---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="404">
    <div class="page-container">
        <h1>404 - Page Not Found</h1>
        <p style="font-size: 4rem; margin: 0;">:(</p>
    </div>
</Layout>
