---
import { SITE_DATA } from '../constants';
import SocialIcons from './SocialIcons.astro';
---

<div class="footer-container">
	<div class="footer-content">
		<div class="copyright">&copy; 2026 {SITE_DATA.name}</div>
		<SocialIcons size={18} gap="1.0rem" class="footer-socials" />
	</div>
</div>
