---
import Menu from '../components/Menu.astro';
import Navigation from '../components/Navigation.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<header>
  <nav>
    <div class="nav-left">
      <Menu />
      <Navigation />
    </div>
    <div class="nav-right">
      <ThemeToggle />
    </div>
  </nav>
</header>
